/*#FF751A orange
#25313B dark blue
#F8F9FA light grey
#0889C4 blue*/
body{
    background-color: #F8F9FA;
}
/*
sidebar
*/
.sidebar{
    height:100%;
    background-color:#25313B;
    color:#f8f9fa;
    position: fixed;
    top: 56px;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 0;
    width:16.6%;
    overflow-x: hidden;
}
.sidebar-header{
    width:100%;
}
/*
sidebar-portfolio
*/
.sidebar-content-portfolios{
    width: 100%;
}
.sidebar-content-portfolios ul{
    margin-left:-40px;
}
.sidebar-content-portfolios li{
    list-style: none;
    text-decoration: none;
    display: block;
    padding:10px 30px 10px 20px;
    color:#ccc;
    cursor: pointer;
}
.sidebar-content-portfolios li:hover{
    text-decoration: none;
    background-color: #3a4e5f;
    color:#fff;
}
.sidebar-content-portfolios li a{
    color:#ccc;
}
.sidebar-content-portfolios li a:hover{
    text-decoration: none;
    background-color: #3a4e5f;
    color:#fff;
}
.fa-trash,.fa-edit,.header-port{
    color: #fff;
    background-color: #0889C4;
    border-radius: 20px;
    padding: 4%;
    margin-left:80%;
    margin:2%;
}
.fa-trash:hover,.fa-edit:hover{
    background-color:  #fff;
    color:#0889C4;
}
.fa-angle-right{
    float: right;
}
.fa-angle-down{
    float:right;
}
.fa-angle-up{
    float: right;
}
.port1{
    color:#ff9900;
}
.port2{
    color:#3333ff;
}
.port3{
    color:#ff0000;
}
.porfolios-sub{
    display: none;
}
/*

*/
.sidebar-content-notes{
    width:100%;
}
/*

*/
.row{
    margin:0;
    display:block;
}
.comment-head{
    color:#ff751a;
    font-size:20px;
    font-weight: 450;
}
.comment-head .fa-user{
    color:#000;
}
.comment-content{
    padding:1%;
}
.image-comment{
     background-color:#e0e0eb;
}
.comment-footer{
    background-color:#e0e0eb;
}
.comment-links{
    width:50%;
    text-align: right;
}
.comment-date{
    width:50%;
    text-align: left;
}
.form-add-comment input[type=text]{
    width:100%;
}
.form-add-comment label{
    width:100%;
}
.form-add-comment input[type=submit],.image-like input[type=submit]{
    padding:2%;
    margin: 1%;
    border:none;
}
.user-buy input[type=button]{
    padding:2%;
    width:100%;
    border:none;
    background-color:#ff751a;
}
.user-buy input[type=submit]:hover{
    background-color:#0889C4;
}
.user-image{
    margin:2%;
    float:left;
}
.user-image h3{
    color:#ff751a;
}
.containter-fluid{
    margin-top:55px;
}
@media (max-width: 768px) {
    .containter-fluid{
        margin-left:0%;
    }
    .sidebar{
        position: relative;
        top:0;
        height:75%;
        width: 100%;
    }
    .navbar{
        padding:10px;
    }
    #menu{
        display: block;
    }
}
.content-datacenter .card{
    width: 23%;
    margin:1%;
    float:left;
}
#main{
    min-height:500px;
    width: 100%;
}
.containter-fluid{
  background-color:#F8F9FA;
}
/* navigation bar */
.navbar{
    background-color: #000;
    margin: 0 auto;
    padding:0;
}
.navbar-expand-lg .navbar-brand {
    color: #fff;
}
.navbar-expand-lg .navbar-brand:hover {
    color: #fff;
}
.navbar-items li{
    float: left;
    text-decoration: none;
    list-style: none;
}
.navbar-items{
    display: block;
    float:right;
}
.navbar-items li a{
    color: #9c9c9c;
    border:none;
    padding: 16px 16px 16px 16px;
}
.navbar-items li a:hover{
    padding-bottom:13px;
    border-bottom: 3px solid #ff751a;
    color:#fff;
}
.header-section-rigth{
    float:right;
    width: 100%;
    margin-bottom:-16px;
}
.nav-link{
    padding:0;
}
#BLogin a{
    color:#fff;
    background-color:#25313B;
    cursor: pointer;
}
#BSignUp a{
    color:#fff;
    background-color:#ff751a;
    cursor: pointer;
}
#BLogin a:hover{
    border-bottom:3px solid #0066ff;
    padding-bottom:13px;
}
#BSignUp a:hover{
    border-bottom:3px solid #fff;
    padding-bottom:13px;
}
#BSetttings a{
    color:#fff;
    background-color:#25313B;
    cursor: pointer;
}
#BLogout a{
    color:#fff;
    background-color:#ff751a;
    cursor: pointer;
}
#BSetttings a:hover{
    border-bottom:3px solid #0066ff;
    padding-bottom:13px;
}
#BLogout a:hover{
    border-bottom:3px solid #fff;
    padding-bottom:13px;
}
.modalError{
    border: 2px red solid;
}
.modalErrorMsg{
    color: red;
}
.modalParagraph{
    margin-bottom: 0px;
}
.search-container {
  float: right;
}

.search-container input[type=text] {
  padding: 16px;
  border: none;
    background-color: #000;
    color:#fff;
    padding-bottom:14px;
    width:300px;
}

.search-container button {
  float: right;
  padding: 16px;
  background: #fff;
  border: none;
  cursor: pointer;
}

.search-container button:hover {
  background: #F8F9FA;
}
.navbar-toggler-icon{
    width:inherit;
    height:inherit;
}
.fa-bars{
    background-color: #ff751a;
    padding:20px;
    color:#fff;
}
/*
overlay
*/
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:#F8F9FA;
    overflow: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    background-color: #fff;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    background-color: #F8F9FA;
}
.overlay .closebtn:hover {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    background-color: #F8F9FA;
}
/*

*/
.chart-header{
    float:right;
}
/*
styling modals
*/
.modal input{
    background-color: #F8F9FA;
    border:none;
    width:100%;
    padding:2%;
}
.modal-header{
    background-color: #25313B;
    color:#fff;
}
#MLoginBLogin,#MCreateNoteBCreateNote,#MSignUpBSingUp,#MForgotPasswordBForgotPassword,#MCreatePortBCreatePort{
    background-color: #ff751a;
    border:none;
}
.close{
    color:#fff;
}
#MLoginBLogin:hover,#MCreateNoteBCreateNote:hover,#MSignUpBSingUp:hover,#MForgotPasswordBForgotPassword:hover,#MCreatePortBCreatePort:hover{
    background-color: #ff944d;
    border:none;
}
#MLogin .modal-body input[type=checkbox]{
    width:10%;
}
#MLogin #MLoginBForgotPassword, #MLogin #MLoginBSingUp, #MLogin #MLoginremember,#MSignUp #MSingUpBLogin{
    color:#0889C4;
    cursor: pointer;
}
#MLogin #MLoginBForgotPassword:hover,#MLogin #MLoginBSingUp:hover,#MSignUp #MSingUpBLogin:hover{
    border-bottom: 1px solid #0889C4;
}
/*

*/
/*
notes
*/
.notes-card{
    width:80%;
    padding: 5%;
    margin: 4% auto;
    color:#000;
    background-color:#F8F9FA;
    border-bottom: 10px solid #ff751a;
}
.notes-card p{

}
#notes-all{
    width:100%;
    margin-bottom: 50%;
}
/*
portfolio orders
*/
.table thead th{
    color:#fff;
    background-color: #0889C4;
    text-align: center;
    margin:2%;
    cursor:pointer;
}
th:hover{
    background-color: #0999dc;
}
.table tbody td{
    text-align: center;
}
[type="date"] {
  background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
}
[type="date"]::-webkit-inner-spin-button {
  display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}
input [type="checkbox"]{
    width:2%;
}
input[type="checkbox"]:hover{
    background-color: #ccc;
}

input[type="checkbox"]:checked {
    background-color: #2196F3;
}
/*
dropdown
*/
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}
/*

*/
#menu{
    display: none;
}
/*@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }*/
@media only screen and (max-width: 992px) {#menu {display: block;}}
