/*#FF751A orange
#25313B dark blue
#F8F9FA light grey
#0889C4 blue*/
body{
    background-color: #F8F9FA;
}
/*.card{
    height:300px;
}*/
/*
sidebar
*/
.sidebar{
    height:100%;
    background-color:#25313B;
    color:#f8f9fa;
    position: fixed;
    top: 56px;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 0;
    width:16%;
    overflow-x: hidden;
}
.sidebar-header{
    width:100%;
}
/*
sidebar-portfolio
*/
.sidebar-content-portfolios{
    width: 100%;
}
.sidebar-content-portfolios ul{
    margin-left:-40px;
}
.sidebar-content-portfolios li{
    list-style: none;
    text-decoration: none;
    display: block;
    padding:10px 30px 10px 20px;
    color:#ccc;
    cursor: pointer;
}
.sidebar-content-portfolios li:hover{
    text-decoration: none;
    background-color: #3a4e5f;
    color:#fff;
}
.sidebar-content-portfolios li a{
    color:#ccc;
}
.sidebar-content-portfolios li a:hover{
    text-decoration: none;
    background-color: #3a4e5f;
    color:#fff;
}
#rightbottom{
    z-index:12;
    position: fixed;
    top:45%;
    right:0; 
}
#header-port-del{
    border-radius: 0;
    background-color: red;
    color:#fff;
    margin:0;
}
#header-port-del:hover{
    background-color: #3a4e5f;
}
#header-port-update{
    border-radius: 0;
    color:#fff;
    margin:0;
}
#footer-port{
   /* float:left;*/
}
#changedisplay{
    float:left;
    background-color:#25313B;
}
#changedisplay:hover{
    background-color:#FF751A;
}
.fa-trash,.fa-edit,.header-port{
    color: #fff;
    background-color: #0889C4;
    border-radius: 20px;
    padding: 4%;
    margin-left:80%;
    margin:2%;
}
.fa-trash:hover,.fa-edit:hover{
    background-color: #0777ab;
}
.fa-angle-up{
    float: right;
}
.fa-angle-down{
    float:right;
}
.fa-angle-right{
    float:right;
}
.port1{
    color:#ff9900;
}
.port2{
    color:#3333ff;
}
.port3{
    color:#ff0000;
}
.porfolios-sub{
    display: none;
}
/*

*/
.sidebar-content-notes{
    width:100%;
}
/*

*/
.row{
    margin:0;
    display:block;
}
.comment-head{
    color:#ff751a;
    font-size:20px;
    font-weight: 450;
}
.comment-head .fa-user{
    color:#000;
}
.form-add-comment input[type=text]{
    width:100%;
}
.form-add-comment label{
    width:100%;
}
.form-add-comment input[type=submit],.image-like input[type=submit]{
    padding:2%;
    margin: 1%;
    border:none;
}
.user-buy input[type=button]{
    padding:2%;
    width:100%;
    border:none;
    background-color:#ff751a;
}
.user-buy input[type=submit]:hover{
    background-color:#0889C4;
}
.user-image{
    margin:2%;
    float:left;
}
.user-image h3{
    color:#ff751a;
}
.containter-fluid{
    margin-top:55px;
}
@media (max-width: 768px) {
    .containter-fluid{
        margin-left:0%;
    }
    .sidebar{
        position: relative;
        top:0;
        height:75%;
        width: 100%;
    }
    .navbar{
        padding:10px;
    }
    #menu{
        display: block;
    }
}
.content-datacenter .card{
    margin:1%;
    float:left;
     height:400px;
    display: inline-block;
}
#main{
    min-height:500px;
}
.containter-fluid{
  background-color:#F8F9FA;
}
/* navigation bar */
.navbar{
    background-color: #000;
    margin: 0 auto;
    padding:0;
}
.navbar-expand-lg .navbar-brand {
    color: #fff;
}
.navbar-expand-lg .navbar-brand:hover {
    color: #fff;
}
#nav-title{
    margin-left: 0.5%;
}

.navbar-items li{
    float: left;
    text-decoration: none;
    list-style: none;
}
.navbar-items{
    display: block;
    float:right;
}
.navbar-items li a{
    color: #9c9c9c;
    border:none;
    padding: 16px 16px 16px 16px;
}
.navbar-items li a:hover{
    padding-bottom:13px;
    border-bottom: 3px solid #ff751a;
    color:#fff;
}
.header-section-rigth{
    float:right;
    width: 100%;
    margin-bottom:-16px;
}
.nav-link{
    padding:0;
}
.terms{
    color: #0889C4;
    margin-right: 1%;
}
.terms:hover{
    text-decoration: none;
    color: #007bff;
}
.terms:focus{
    text-decoration: none;
    color: #007bff;
}
.terms:active{
    text-decoration: none;
    color: #007bff;
}
#BLogin a{
    color:#fff;
    background-color:#25313B;
    cursor: pointer;
}
#BSignUp a{
    color:#fff;
    background-color:#ff751a;
    cursor: pointer;
}
#BLogin a:hover{
    border-bottom:3px solid #0066ff;
    padding-bottom:13px;
}
#BSignUp a:hover{
    border-bottom:3px solid #fff;
    padding-bottom:13px;
}
#BSetttings a{
    color:#fff;
    background-color:#25313B;
    cursor: pointer;
}
#BLogout a{
    color:#fff;
    background-color:#ff751a;
    cursor: pointer;
}
#BSetttings a:hover{
    border-bottom:3px solid #0066ff;
    padding-bottom:13px;
}
#BLogout a:hover{
    border-bottom:3px solid #fff;
    padding-bottom:13px;
}
.modalError{
    border: 2px red solid;
}
.modalErrorMsg{
    color: red;
}
.modalParagraph{
    margin-bottom: 0px;
}
.search-container {
  float: right;
}

.search-container input[type=text] {
  padding: 16px;
  border: none;
    background-color: #000;
    color:#fff;
    padding-bottom:14px;
    width:300px;
}

.search-container button {
  float: right;
  padding: 16px;
  background: #fff;
  border: none;
  cursor: pointer;
}

.search-container button:hover {
  background: #F8F9FA;
}
.navbar-toggler-icon{
    width:inherit;
    height:inherit;
}
.fa-bars{
    background-color: #ff751a;
    padding:20px;
    color:#fff;
}
/*
overlay
*/
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:#F8F9FA;
    overflow: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    background-color: #fff;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    background-color: #F8F9FA;
}
.overlay .closebtn:hover {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    background-color: #F8F9FA;
}
/*

*/
.chart-header{
    float:right;
}
/*
styling modals
*/
.modal input{
    background-color: #F8F9FA;
    border:none;
    width:100%;
    padding:2%;
}
.modal-header{
    background-color: #25313B;
    color:#fff;
}
#MLoginBLogin,#MCreateNoteBCreateNote,#MSignUpBSignUp,#MForgotPasswordBForgotPassword,#MCreatePortBCreatePort{
    background-color: #ff751a;
    border:none;
}
.close{
    color:#fff;
}
#MLoginBLogin:hover,#MCreateNoteBCreateNote:hover,#MSignUpBSignUp:hover,#MForgotPasswordBForgotPassword:hover,#MCreatePortBCreatePort:hover{
    background-color: #ff944d;
    border:none;
}
#MLogin .modal-body input[type=checkbox]{
    width:10%;
}
#MLogin #MLoginBForgotPassword, #MLogin #MLoginBSignUp, #MLogin #MLoginremember,#MSignUp #MSignUpBLogin{
    color:#0889C4;
    cursor: pointer;
}
#MLogin #MLoginBForgotPassword:hover,#MLogin #MLoginBSignUp:hover,#MSignUp #MSignUpBLogin:hover{
    border-bottom: 1px solid #0889C4;
}
/*

*/
/*
notes
*/
.notes-card{
    width:80%;
    padding: 5%;
    margin: 4% auto;
    color:#000;
    background-color:#F8F9FA;
    border-bottom: 10px solid #ff751a;
}
.notes-card p{

}
#notes-all{
    width:100%;
    margin-bottom: 50%;
}
/*
portfolio orders
*/
.spec{
    margin:2%;
    cursor:pointer;
}
.table thead th{
    background-color: #0999dc;
    cursor:pointer;
    color:#fff;
    text-align: center;
}
th:hover{
    background-color: #0999dc;
}
.table tbody td{
    text-align: center;
}
[type="date"] {
  background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
}
[type="date"]::-webkit-inner-spin-button {
  display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}
.modal input[type="checkbox"]{
    border:none;

}
.modal input[type="checkbox"]{
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     display: inline-block;
     position: relative;
     background-color: #d8d8d8;
     color: #666;
     top: 10px;
     height: 30px;
     width: 30px;
     border: 0;
     border-radius: 50px;
     cursor: pointer;
     margin-right: 7px;
     outline: none;
}
.modal input[type="checkbox"]:checked::before
{
     position: absolute;
     font: 13px/1 'Open Sans', sans-serif;
     left: 11px;
     top: 7px;
     content: '\02143';
     transform: rotate(40deg);
}
.modal input[type="checkbox"]:hover
{
     background-color: #c2c2c2;
}
.modal input[type="checkbox"]:checked
{
    color:#fff;
     background-color: #0889C4;
}
/*
dropdown
*/
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}
.dropdown-content span{
  color: #000;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
    cursor:pointer;
}

.dropdown-content span:hover {
    background-color: #f1f1f1;
}


.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-options{
    display: none;
}
.dropdown-content-options{
    position: absolute;
    background-color: #f9f9f9;
    z-index: 1;
    border:2px solid #888888;
}
.dropdown-content-options li{
    color: #000;
  text-decoration: none;
  display: block;
  text-align: left;
    cursor:pointer;
}
.dropdown-content-options li:hover{
    background-color: #000;
}
/*

*/
.fa-ellipsis-v{
    appearance: none;
     display: inline-block;
     color: #000;
     top: 10px;
     width: 30px;
     border: 0;
     border-radius: 50px;
    padding: 5%;
     cursor: pointer;
     outline: none;
}
.fa-ellipsis-v:hover{
    background-color: #fff;
}
#menu{
    display: none;
}
.errormess{
    color:red;
}
.footer-ul-container {
	float: left;
}

.footer-ul {
	text-align: center;
	color: white;
	list-style-type: none;
}

.footer-ul a {
	color: white;
}

.footer-ul a:hover {
	color: white;
	cursor: pointer;

}

#footerjournal {
	padding-top: 20px;
	width: 100%;
	background-color: #212529;
}

#copyright {
	color: white;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

/*Cookie banner*/
#banner {
    z-index: 1001;
    width: 100%;
    height: 30%;
    position: fixed;
    bottom: 0;
    background-color: #25313B;
    color: white;
    padding: 60px;

    /*visibility: hidden;*/
}

#cookieButton {
    float: right;
    background-color: #ff751a;
    padding: 15px;
    cursor: pointer;
    border-bottom: 2px solid #ff751a;
}

#cookieButton:hover {
    border-bottom: 2px solid white;
}

/*@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }*/
@media only screen and (max-width: 992px) {#menu {display: block;}}
