.title{
	margin-top: 10%;
}
#cookieBanner{
	/*
	https://css-tricks.com/snippets/css/fixed-footer/
	*/
	position: fixed;
   	left: 0px;
   	bottom: 0px;
   	height: 8%;
   	width: 100%;
   	background: #AAAAAA;
}
#BAllowCookies{
	margin: 0.5% 0% 0% 0.5%;
    padding: 0.5%;
}

#background {
	margin-top: 50px;
	width: 102%;
	margin-left: auto;
	margin-right: auto;
}

#background:after {
	content: " ";
 	display: block;
  	position: absolute;
  	height: 150%;
  	top: 0;
  	left: 0;
  	right: 0;
  	background: rgba(200, 200, 200, 0.5);
}

.showcasePanel {
	width: 49.5%;
	float: left;
	filter: blur(3px);
  	-webkit-filter: blur(3px);
  	height: 120%;
    background-position: left; 
}

#leftPanel {
	background-image: url("../img/chart.jpg");
	background-size: 200%;
	background-repeat: no-repeat;
	background-position: 100% 30%;
}

#rightPanel {
	background-image: url("../img/datacenter.jpg");
	background-size: 200%;
	background-repeat: no-repeat;
	background-position: 10% 30%;
}

#divider {
	height:120%;
	width: 0.4%;
	background-color: white;
	z-index: 0;
	margin-left: auto;
	margin-right: auto;
}

#promo {
	padding-top: 250px;
	color: white;
}

.promoLogo {
	width: 128px;
	filter: invert(95%);
}

.promoText {
	width: 500px;
	font-size: 1.2em;
	text-align: center;
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}

#promoLeft {
	width: 50%;
	float: left;
	text-align:center;
}

#promoRight {
	width: 50%;
	float: left;
	text-align:center;
}

.promoButton {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2em;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    border: 2px solid white;
    border-radius: 10px;
    background-color: transparent;
}

.promoButton:hover {
	text-decoration: none;
	background-color: #4B77BE;
	border: 2px solid #4B77BE;
	color: white;
}

.demo {
	height: 100%;
}

#demoJournal {
	margin-top: 750px;
	width: 100%;
	height: 100%;
	background-color: white;
}

#demoDatacenter {
	width: 100%;
	height: 100%;
	background-color: black;
	color: white;

}

#journalLeft {
	color: black;
	text-align: center;
	padding-top: 50px;
}

#journalRight {
	background-image: url("https://www.tradervue.com/assets/feat-journal-dashboard-f67e6bd9666d7cdc7ff47144c8e4270f6eb42a62541883e7b00a37ec2667bfdc.png");
	position: relative;
}

#datacenterLeft {

}

#datacenterRight {
	text-align: center;
	padding-top: 50px;
}

.demoHalves {
	width: 50%;
	border: grey 1px solid;
	float: left;
	height: 100%;
}

.parallax {
  	perspective: 300px;
  	height: 100vh;
  	overflow-x: hidden;
  	overflow-y: auto;
  	scroll-behavior: smooth;

}
.parallax__layer {
  	position: absolute;
  	top: 0;
  	right: 0;
  	bottom: 0;
  	left: 0;
  /*transform-style: preserve-3d;*/
}

.parallax__layer--base {
	-webkit-transform: translateZ(0);
  	transform: translateZ(0);
}

.parallax__layer--back {
	-webkit-transform: translateZ(-300px) scale(2);
  	transform: translateZ(-300px) scale(2);
}

.parallax__layer--front {
    -webkit-transform: translateZ(90px) scale(.7);
    transform: translateZ(90px) scale(.7);
}