.title{
	margin-top: 10%;
}
#cookieBanner{
	/*
	https://css-tricks.com/snippets/css/fixed-footer/
	*/
	position: fixed;
   	left: 0px;
   	bottom: 0px;
   	height: 8%;
   	width: 100%;
   	background: #AAAAAA;
}
#BAllowCookies{
	margin: 0.5% 0% 0% 0.5%;
    padding: 0.5%;
}
<<<<<<< HEAD
<<<<<<< HEAD

#background {
	margin-top: 50px;
	width: 102%;
	margin-left: auto;
	margin-right: auto;
=======
body{
	/*
	background-color: grey;
	background-image: url("../img/indexBG1920.jpeg");
	background-repeat: no-repeat;
	*/

}
=======
body{
	/*
	background-color: grey;
	background-image: url("../img/indexBG1920.jpeg");
	background-repeat: no-repeat;
	*/
}

>>>>>>> parent of ddccbe53... Mostly fixed parallax issues, fixed some layout issues, added some new layout issues.
.bg{
	background-color: white;
	opacity: 0.2;
	border-radius: 0.5%
}
.indexTitle{
	margin-left: 2%;
<<<<<<< HEAD
>>>>>>> parent of 6481edf3... Uploading (non-working) progress on github to make sure I don't lose anything
=======
>>>>>>> parent of ddccbe53... Mostly fixed parallax issues, fixed some layout issues, added some new layout issues.
}

.showcaseImg {
	display: block;
	width: 100%;
	
}

.showcasePanel {
	width: 50%;
	float: left;
<<<<<<< HEAD
<<<<<<< HEAD
	filter: blur(3px);
  	-webkit-filter: blur(3px);
  	height: 120%;
=======
	filter: blur(4px);
  -webkit-filter: blur(4px);
  	height: 800px;
>>>>>>> parent of 6481edf3... Uploading (non-working) progress on github to make sure I don't lose anything
=======
	filter: blur(1px);
  	-webkit-filter: blur(1px);
  	height: 700px;
>>>>>>> parent of ddccbe53... Mostly fixed parallax issues, fixed some layout issues, added some new layout issues.
    background-position: left; 
    height: 1000px;
}

#leftPanel {
	background-image: url("../img/chart.jpg");
<<<<<<< HEAD
<<<<<<< HEAD
	background-size: 200%;
=======
	background-size: 100%;
>>>>>>> parent of ddccbe53... Mostly fixed parallax issues, fixed some layout issues, added some new layout issues.
	background-repeat: no-repeat;
	background-position: 100% 30%;
=======
>>>>>>> parent of 6481edf3... Uploading (non-working) progress on github to make sure I don't lose anything
}

#divider {
<<<<<<< HEAD
	height:120%;
<<<<<<< HEAD
	width: 0.4%;
=======
	height:100%;
	width: 0.3%;
>>>>>>> parent of 6481edf3... Uploading (non-working) progress on github to make sure I don't lose anything
=======
	width: 0.3%;
>>>>>>> parent of ddccbe53... Mostly fixed parallax issues, fixed some layout issues, added some new layout issues.
	background-color: white;
	float: left;
	z-index: 0;
	margin-left: auto;
	margin-right: auto;
}

<<<<<<< HEAD
<<<<<<< HEAD
=======
#rightPanel {
	background-image: url("../img/datacenter.jpg");

=======
#rightPanel {
	background-image: url("../img/datacenter.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: 100% 30%;
>>>>>>> parent of ddccbe53... Mostly fixed parallax issues, fixed some layout issues, added some new layout issues.
}

#background {
	margin-top: 50px;
	width: 100%;
	position: absolute;
	z-index: -10;
}

#background:after {
  content: " ";
  display: block;
  position: absolute;
<<<<<<< HEAD
  height: 110%;
=======
  height: 150%;
>>>>>>> parent of ddccbe53... Mostly fixed parallax issues, fixed some layout issues, added some new layout issues.
  top: 0;
  left: 0;
  right: 0;
  background: rgba(220, 220, 220, 0.5);
}

<<<<<<< HEAD
>>>>>>> parent of 6481edf3... Uploading (non-working) progress on github to make sure I don't lose anything
=======
>>>>>>> parent of ddccbe53... Mostly fixed parallax issues, fixed some layout issues, added some new layout issues.
#promo {
	padding-top: 250px;
	color: white;
}

.promoLogo {
	width: 128px;
	filter: invert(95%);
}

.promoText {
	width: 500px;
	font-size: 1.2em;
	text-align: center;
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}

#promoLeft {
	width: 50%;
	float: left;
	text-align:center;
}

#promoRight {
	width: 50%;
	float: left;
	text-align:center;
}

.promoButton {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2em;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    border: 2px solid white;
    border-radius: 10px;
    background-color: transparent;
}

.promoButton:hover {
	text-decoration: none;
	background-color: #4B77BE;
	border: 2px solid #4B77BE;
	color: white;
}

.demo {
<<<<<<< HEAD
<<<<<<< HEAD
	height: 100%;
<<<<<<< HEAD
	min-height: 1000px;
=======
	padding-top: 50px;
>>>>>>> parent of 6481edf3... Uploading (non-working) progress on github to make sure I don't lose anything
=======
>>>>>>> parent of d455f7f2... Added forefround parallax
=======
>>>>>>> parent of ddccbe53... Mostly fixed parallax issues, fixed some layout issues, added some new layout issues.
}

#demoJournal {
	margin-top: 600px;
	width: 100%;
	height: 100%;
	background-color: white;
}

#demoDatacenter {
	width: 100%;
	height: 100%;
<<<<<<< HEAD
<<<<<<< HEAD
	background-color: white;
	color: black;
=======
	background-color: black;
	color: white;
<<<<<<< HEAD

>>>>>>> parent of d455f7f2... Added forefround parallax
}

#journalLeft {
	color: black;
	text-align: center;
	padding-top: 50px;
=======
>>>>>>> parent of ddccbe53... Mostly fixed parallax issues, fixed some layout issues, added some new layout issues.
}

#journalRight {
	background-image: url("https://www.tradervue.com/assets/feat-journal-dashboard-f67e6bd9666d7cdc7ff47144c8e4270f6eb42a62541883e7b00a37ec2667bfdc.png");
	
	position: relative;
}

.demoHalves {
	width: 50%;
	border: grey 1px solid;
	float: left;
	height: 100%;
}

.parallax {
  perspective: 150px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;

=======
	background-color: pink;
}

.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
>>>>>>> parent of 6481edf3... Uploading (non-working) progress on github to make sure I don't lose anything
}
.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.parallax__layer--base {
  transform: translateZ(0);
}
.parallax__layer--back {
<<<<<<< HEAD
<<<<<<< HEAD
	-webkit-transform: translateZ(-300px) scale(2);
  	transform: translateZ(-300px) scale(2);
=======
  transform: translateZ(-2px) scale(3);
>>>>>>> parent of ddccbe53... Mostly fixed parallax issues, fixed some layout issues, added some new layout issues.
}

.parallax__layer--front {
    -webkit-transform: translateZ(90px) scale(.7);
    transform: translateZ(90px) scale(.7);
<<<<<<< HEAD
<<<<<<< HEAD
    pointer-events: none;
=======
  transform: translateZ(-2px) scale(3);
>>>>>>> parent of 6481edf3... Uploading (non-working) progress on github to make sure I don't lose anything
=======
>>>>>>> parent of d455f7f2... Added forefround parallax
=======
    z-index: 1;
>>>>>>> parent of ddccbe53... Mostly fixed parallax issues, fixed some layout issues, added some new layout issues.
}