body{

}
*:focus{
	outline: -webkit-focus-ring-color auto 0px;
}
button:focus{
	outline: 0px auto -webkit-focus-ring-color;
}
a{
	color: black;
	text-decoration: none;
}
.button{
	border: 1px solid black;
	margin: 1%;
	padding: 1%;
	border-radius: 10%;
	display: inline-block;
}