.vertical-settings {
    height: 100%;
    width: 10%;
    position: fixed;
    z-index: 1;
    top: 30px;
    left: 0;
    overflow-x: hidden;
    padding-top: 7%;
    background-color: #25313B;
    float: left;
    color: #F8F9FA;
    text-align: center;
    align-items: center;
}

.vertical-settings button {
    padding: 120px 8px 6px 0px;
    text-decoration: none;
    font-size: 15px;
    background-color: inherit;
    color: #F8F9FA;
    display: block;
    width: 100%;
    border: none;
    outline: none;
    transition: 0.3s;
}

.vertical-settings button:hover {
    color: #FF751A;
}

.vertical-settings button.active {
    color: #FF751A;
}

.content {
	top: 40px;
    margin-left: 10%;
    padding: 80px 10x;
    float: left;
    position: absolute;
    padding-left: 30%;
    
}

.content a {
    padding: 40px 8px 6px 16px;
    text-decoration: none;
    color: black;
    display: block;
    align-items: center;
    text-align: center;
} 