.vertical-settings {
    height: 100%;
    width: 8%;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    padding-top: 7%;
    background-color: #25313B;
    float: left;
    color: #F8F9FA;
    text-align: center;
    align-items: center;
    
}

.vertical-settings button {
    padding: 60px 8px 6px 0px;
    left: 0%;
    top: 30%;
    text-decoration: none;
    font-size: 18px;
    background-color: inherit;
    color: #F8F9FA;
    display: block;
    width: 100%;
    border: none;
    outline: none;
    transition: 0.3s;
}

.vertical-settings button:hover {
    color: #FF751A;
}

.vertical-settings button.active {
    color: #FF751A;
}

.content {
    margin: 0;
    padding: 10%;
    display: table;
    width: 100%
}

.myForm {
    margin: 0 auto;
    width: 25%;
}
/*https://www.sanwebe.com/2014/08/css-html-forms-designs*/
.content input[type="text"],
.content input[type="email"],
.content input[type="number"],
.content input[type="password"],
.content input[type="url"],
.content textarea,
.content select {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-bottom: 10px;
    height: 45px;
} 

.content textarea {
    resize: none;
    overflow: hidden;
}
.content input[type="submit"],
.content button {
    -moz-box-shadow: inset 0px 1px 0px 0px #FF751A;
    -webkit-box-shadow: inset 0px 1px 0px 0px #FF751A;
    box-shadow: inset 0px 1px 0px 0px #FF751A;
    background-color: #FF751A;
    border: 1px solid #FF751A;
    display: inline-block;
    cursor: pointer;
    color: #F8F9FA;
    font-size: 14px;
    padding: 8px 18px;
    text-decoration: none;
    text-transform: uppercase;
}

.content input[type="submit"]:hover,
.content button:hover {
    background: linear-gradient(to bottom, #FF751A 1%, #FF751A 100%);
    background-color: #FF751A;
    color: #25313B;
}

/*.modald {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale;
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.md-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;
}

.close {
    float: right;
    width: 1.5rem;
    line-height: 1.rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
}

.close:hover {
    color: red;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}*/

#isVer {
    font-weight: bold;
}